@page
@model SacramentMeetingPlanner.Pages.Speaker.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Speaker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Speaker.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speaker.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speaker.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speaker.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speaker.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speaker.Topic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speaker.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speaker.Order)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speaker.Planner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speaker.Planner.BishopricMemeber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Speaker.SpeakerId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
