@page
@model SacramentMeetingPlanner.Pages.Planner.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Meeting Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Planner.MeetingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planner.MeetingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Planner.BishopricMemeber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planner.BishopricMemeber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Planner.OpeningHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planner.OpeningHymn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Planner.OpeningPrayer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planner.OpeningPrayer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Planner.SacramentHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planner.SacramentHymn)
        </dd>
        @if (Model.Planner.Speakers != null)
        {
            @foreach(var item in Model.Planner.Speakers)
            {
               <dt>
            @Html.DisplayNameFor(model => model.Planner.Speakers)
        </dt>
               <dd>
                   @Html.DisplayFor(modelItem => item.FirstName)
                   @Html.DisplayFor(modelItem => item.LastName)
                   (@Html.DisplayFor(modelItem => item.Topic))
               </dd>

            }
        }
        <dt>
            @Html.DisplayNameFor(model => model.Planner.IntermediateHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planner.IntermediateHymn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Planner.ClosingHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planner.ClosingHymn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Planner.ClosingPrayer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Planner.ClosingPrayer)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Planner.PlannerId" class="btn btn-warning">Edit</a> |
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
